<div class="all">
  <div class = "definition">
      <h2>My Photos</h2>
      <p>Gallery gives you an intuitive way
      to blend photo management seamlessly into your own website whether you're
      running a small personal site or a large community site. </p>
  </div>
  <hr class="divide">
<div *ngFor="let photo of photos" class = "photosClass">
    <p (click)= "onSelect(photo)" >
        <a [routerLink]="['/photos', photo.id ]" >

    <h3>
        <img [src]="photo.imageLink" class = "photosImage">
        <p>
            Name: {{photo.name}}
        </p>
    </h3>
    </a>
    </p>
    <h3>
        <p *ngIf = "photo.description">
            Description: {{photo.description}}
        </p>
        <p>
            Price: $ {{photo.price}}
        </p>
        <p *ngIf = "photo.description">
        <button (click)= "onAddToCart(photo)" class="btn"><i class="fas fa-cart-arrow-down"></i> Add to Cart</button>
        <button class="btn" title="delete photo"
           (click)="delete(photo)"><i class="fas fa-trash-alt"></i></button>
           </h3>
    <hr class="divide">
</div>
</div>

