<div class="all">
  <div class = "definition">
      <h2>Photo</h2>
      <p>Photography is the art, application and practice of creating durable images
      by recording light or other electromagnetic radiation, either
      electronically by means of an image sensor, or chemically by means of
      a light-sensitive material such as photographic film. </p>
  </div>
  <hr class="divide">
<div class = "photosClass" [hidden] = "!isToggled">
    <div>
        <h3>
            <img [src]="photos.imageLink" class = "photosImage">
            <p>
               Name: {{photos.name}}
              </p>
                  <div [hidden] = "isToggled" class="editName" >
                    <label>
                      <input ngModel [(ngModel)]="photos.name" placeholder="name"/>
                    </label><hr>
                    <label>
                      <input ngModel [(ngModel)]="photos.description" placeholder="discription"/>
                    </label><hr>
                    <label>
                      <input ngModel [(ngModel)]="photos.price" placeholder="price"/>
                    </label><hr>
                  <button (click)="save()" class="save">save</button>
                </div>
            <p *ngIf = "photos.description">
                Description: {{photos.description}}
            </p>
            <p>
                Price: {{photos.price}}
            </p>
            <button (click)= "onAddToCart(photos)"  title="Add to cart" class="btn"><i class="fas fa-cart-arrow-down"></i> Add to Cart</button>
           <button class="btn"  title="Rename photo" (click)="toggle()"><i class="fas fa-edit"></i></button>
        </h3>

    </div>
</div>
<app-comments></app-comments>


