<div class="login">
    <form action="" >
        <div class="imgcontainer">
          <h3>Login</h3>
        </div>
      
        <div class="container">
          <label for="uname" id="uname"><b>Username</b></label>
          <input type="text" placeholder="Input your username" name="uname" required id="us">
      
          <label for="psw" id="psw"><b>Password</b></label>
          <input type="password" placeholder="Input your password" name="psw" required id="ps">
          <form action="http://localhost:4200/cars" >
            <button type="submit" onclick="alert('You are in the system!')">Log In</button>
          </form>
          
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <span class="psw">New user? <a href="http://localhost:4200/signUp">Register</a></span>
          <span class="psw">  Forgot <a href="#">password?</a></span>
        </div>
      </form>
      </div>