<div>
<div class="all">
  <div class = "definition">
      <h2>All Categories</h2>
      <p>Which type of photography should I master? That is probably the most challenging decision to make when you
      are starting your pursuit of photography as a career. When you think of all of the various subjects there are to capture,
      and all of the different ways to create the image, the field of photography really is dynamic and varied. There is something
      for everyone in photography, and the types of photography jobs are just as exciting. </p>
  </div>
   <hr class="divide">
  <div class="cat">
    <ul class="categories">
      <li *ngFor="let category of categories">
       <div class="gallery"> 
        <div class="media">
          <a routerLink="/categories/{{category.id}}">
            <span class="image__link">{{category.name}}</span><img src={{category.img}} alt=""></a>       
        </div>
       </div>
      </li>
    </ul>
  </div>
</div>
</div>

