.bck-img
{
    min-height: 100vh;
    width: 100%;
    background-image: url('https://w-dog.ru/wallpapers/0/7/475455960336780.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
