nav {
    width: 100%;
    margin-right: 5%;
    background-color: cadetblue;
}
.container {  
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0;

}
.container li {  
    flex: 1; 
    text-align: center;
}

.container li a{  
    color: black; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    padding: 20px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
}

@media all and (max-width: 600px) {  
    
    .container {  
      flex-wrap: wrap;  
    }  
      
    .container li {  
      flex-basis: 50%;  
    }
  
}

@media all and (max-width: 400px) {  
    .container li {  
      flex-basis: 100%;  
    }  

}