<div class="all">
  <div class = "definition">
      <h2>Category Detail</h2>
      <p>Which type of photography should I master? That is probably the most challenging decision to make when you
      are starting your pursuit of photography as a career. When you think of all of the various subjects there are to capture,
      and all of the different ways to create the image, the field of photography really is dynamic and varied. There is something
      for everyone in photography, and the types of photography jobs are just as exciting. </p>
  </div>
    <hr class="divide">

  <div *ngFor = "let photo of photos" class = "photosClass">
      <a routerLink="/photos/{{photo.id}}">
    <h3>
        <img [src]="photo.imageLink" class = "photosImage">
        <p>
            Name: {{photo.name}}
        </p></h3>
         </a>
    <h3>
        <p *ngIf = "photo.description">
            Description: {{photo.description}}
        </p>
        <p>
            Price: $ {{photo.price}}
        </p>
         <button (click)="goBack()" class="btn"><p><i class="fas fa-arrow-left"></i>  go back<p></button>
        <button (click)= "onAddToCart(photo)" class="btn"><i class="fas fa-cart-arrow-down"></i> Add to Cart</button>
    </h3>
    <hr class="divide">
</div>
